<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign fa-1x"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="span2">Created by:</div>
                <div class="span9"><a href="http://twitter.com/rakesh_code" target="_blank">Rakesh Roy</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2"><i class="fa fa-github-alt fa-sx"></i> </div>
                <div class="span9"><a href="http://github.com/royrakesh" target="_blank">royrakesh</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2"><i class="fa fa-envelope-o fa-sx"></i> </div>
                <div class="span9"><a href="mailto:royrakesh.cob@gmail.com" target="_blank">royrakesh.cob@gmail.com</a></div>
            </div>
            <br>
            <div class="row">
                <div class="span2"><i class="fa fa-code-fork fa-sx"></i> </div>
                <div class="span9"><a href="https://github.com/royrakesh/pixaby-search" target="_blank">Github Project Source Code</a></div>
            </div>
        </div>
    </div>
</div>
